footer
  .media
    +media("instagram")
    +media("github")
    +media("linkedin")
  form(action="")
    input(type="text" placeholder="Name")
    input(type="email" placeholder="Email")
    input(type="text" placeholder="Write your message")
    button(class="button")="Send"