head
  title Luis Rodríguez | Web developer
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale:1")
  meta(name="description" content="I'm a web developer looking to generate a great impact")
  link(rel="stylesheet" href="styles.css")
  link(rel="stylesheet" href="desktop.css" media="screen and (max-width:480px)")
  