extend modules/template.pug
block content

  .skills
    h2="My stack" 
    .skills__stack
      +tech("CSS")
      +tech("HTML")
      +tech("Javascript")  
      +tech("React")
      +tech("Sass")
      +tech("MongoDB")
      +tech("Node")
  
  .projects 
    h2="Projects"
    .carousel
      +case("Bluedot",
      "A web app where you can learn about astronomy",
      "https://luigui-py.github.io/BLUEDOT/")
      +case("GeometryCalc",
      "GeometryCalc can calculate areas and perimeters from different shapes",
      "https://luigui-py.github.io/GeometryCalc/")
      +case("Minigames",
      "Web page where you can play different minigames",
      "https://luigui-py.github.io/Minigames/")    
