@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
body {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?5xlwys");
  src: url("fonts/icomoon.eot?5xlwys#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?5xlwys") format("truetype"), url("fonts/icomoon.woff?5xlwys") format("woff"), url("fonts/icomoon.svg?5xlwys#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-CSS:before {
  content: "";
}

.icon-React:before {
  content: "";
}

.icon-MongoDB:before {
  content: "";
}

.icon-Sass:before {
  content: "";
}

.icon-Node:before {
  content: "";
}

.icon-Javascript:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-HTML:before {
  content: "";
}

header {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#00764b), to(#009760));
  background: linear-gradient(to right, #00764b, #009760);
  color: white;
}
header h2 {
  font-size: 1.2em;
  font-weight: 400;
}
header ul {
  display: none;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}
.cover h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  text-align: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.skills h2 {
  margin-bottom: 25px;
}
.skills__stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__stack .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: auto;
  margin: 15px;
}
.skills__stack .tech h3 {
  font-size: 1em;
  margin-top: 10px;
}
.skills__stack .tech [class^=icon-] {
  font-size: 30px;
  color: #00764b;
}

.projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects h2 {
  margin-bottom: 25px;
}
.projects .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 100%;
}
.projects .carousel article {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 350px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .carousel article h3 {
  margin: 10px;
}
.projects .carousel article img {
  width: 40%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.89);
          box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.89);
}
.projects .carousel article p {
  width: 60%;
}
.projects .carousel article button {
  margin: 10px;
  height: 30px;
  width: 95px;
  border: none;
  color: black;
  background: -webkit-gradient(linear, left top, right top, from(#00764b), to(#009760));
  background: linear-gradient(to right, #00764b, #009760);
  border-radius: 5px;
}
.projects .carousel article button a {
  text-decoration: none;
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right top, from(#00764b), to(#009760));
  background: linear-gradient(to right, #00764b, #009760);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16%;
  margin-top: 100px;
}
footer .media {
  color: white;
  font-size: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
footer form input, footer form button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-bottom: 10px;
}
footer form .message {
  padding-bottom: 100px;
}
footer form button {
  width: 50%;
}