footer{
  display: flex;
  flex-direction: column;
  background: $mainColor;
  align-items: center;
  padding: 16%;
  margin-top: $spacing * 2;
  .media{
    color: white;
    font-size: 30px;
    width: 100%;
    display: flex;     
    margin-bottom: $spacing;  
    justify-content: space-evenly; 
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    input{
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: none;
      background-color: white;
      margin-bottom: $textSpacing;
    }
    button{
      @extend input;
      width: 50%
    }
  }
}