@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

//Variables
$font: "Montserrat", sans-serif;
$mainColor: #00764b;
$iconSize: 30px;
$spacing: 50px;
$midSpacing: 25px;
$textSpacing: 10px;

//Global styles
body{
  background-color: white;
  color: black;
  font-family: $font;
  margin: 0;
}
h1{
  margin: 0;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
p{
  margin: 0;
}


//Icomoon fonts 

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/techs/icomoon.eot?6p41ra');
  src:  url('fonts/techs/icomoon.eot?6p41ra#iefix') format('embedded-opentype'),
    url('fonts/techs/icomoon.ttf?6p41ra') format('truetype'),
    url('fonts/techs/icomoon.woff?6p41ra') format('woff'),
    url('fonts/techs/icomoon.svg?6p41ra#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CSS:before {
  content: "\e905";
  //color: #1572b6;
}
.icon-React:before {
  content: "\e901";
  //color: #61dafb;
}
.icon-MongoDB:before {
  content: "\e902";
  //color: #47a248;
}
.icon-Sass:before {
  content: "\e903";
  //color: #c69;
}
.icon-Node:before {
  content: "\e904";
  //color: #393;
}
.icon-Javascript:before {
  content: "\e900";
  //color: #f7df1e;
}
.icon-HTML:before {
  content: "\eae4";
}
/*
//media icons
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/media/icomoon.eot?b5qd9h');
  src:  url('fonts/media/icomoon.eot?b5qd9h#iefix') format('embedded-opentype'),
    url('fonts/media/icomoon.ttf?b5qd9h') format('truetype'),
    url('fonts/media/icomoon.woff?b5qd9h') format('woff'),
    url('fonts/media/icomoon.svg?b5qd9h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-github1:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eaca";
}
*/
